{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Expense Management</title>
</head>
<body>
    <h1>My Dashboard</h1>
    <form>
        <table>
            <thead>
                <tr>
                    <th colspan="4">Add an expense</th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="heading" type="text" name="date"></td>
                    <td><input class="heading" type="text" name="particular"></td>
                    <td><input class="heading" type="text" name="description"></td>
                    <td><input class="heading" type="text" name="amount"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <center><button>Add</button></center>

            {% if item_date %}
                {% for item in item_date %}
                    <input type="hidden" name="date" value="{{item}}">
                {% endfor %}
            {% endif %}

            {% if item_particular %}
                {% for item in item_particular %}
                    <input type="hidden" name="particular" value="{{item}}">
                {% endfor %}
            {% endif %}

            {% if item_describe %}
                {% for item in item_describe %}
                    <input type="hidden" name="description" value="{{item}}">
                {% endfor %}
            {% endif %}

            {% if item_amount %}
                {% for item in item_amount %}
                    <input type="hidden" name="amount" value="{{item}}">
                {% endfor %}
            {% endif %}
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th colspan="4">Expense Sheet</th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% if empty_list_for_dict %}
                    {% for item in empty_list_for_dict %}
                        <tr>
                            <td>{{ ''.join(item['date']) }}</td>
                            <td>{{ ''.join(item['particular']) }}</td>
                            <td>{{ ''.join(item['describe']) }}</td>
                            <td>{{ ''.join(item['amount']) }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </form>
    <footer>
        Created by Pradeep Sukhwani
    </footer>
</body>
</html>
{% endblock %}